html,body{
  height: 100%;
  width: 100%;
  margin: 0%;
  background-color: #e0e0e0;
  font-family:'Ubuntu',sans-serif;
}
.main-div{
    height: 100%;
    width: 100%;
}
.logo{
    border-radius: 100%;
    height: 60px;
    width: 60px;
}
/* .hotel-img{
    height: 200px;
    width: 250px;
} */
.socialmedia-img{
    height: 20px;
    width: 22px;
}
header{
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    width: 100%;
    position:sticky;
}
footer{
   background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position:sticky;
    bottom: 0;
    font-family: 'Ubuntu',sans-serif;
    height: 50px;
}
/* .pic-hotel{
    margin: 2%;
    background-color:  rgb(132,136,139);
    width: 40%;
} */
.login{
    color: black;
    text-decoration: none;
    margin-right: 2%;
   }

    #contactus{
    margin-left:2%;
    }
    #contact-us{
        color: black;
        text-decoration: none;  
    }
    #socialicon{
        margin-right: 2%;
    }
    #list-view{
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding-right: 20px;
    }
    #map-view{
        text-decoration: none;
        color: black;
        font-weight: bold; 
    }
    #view-list{
        display:flex;
        justify-content:center;
        padding: 5px;
        list-style-type: none;
    }
    #mapView{
        display:none;
    }
    /* #listview{
        display: flex;
        flex-direction: row;
        align-items: center;
    } */
    .hotel-Img{
        height: 200px;
        width: 250px;
        float: left;
        margin-right: 2%;
    }
    .hotel-Details{
        padding: 2% 2%;
    }
    .List-Item{
        background-color: lightgrey;
        margin: 2% 5%;
        width: 40%;
        float: left;
        padding-top: 0;
    }
    .rad-blu-link{
        text-decoration: none;
        color: black;
    }